#courseCard{
    background-image:url("https://cnprodstorage1.blob.core.windows.net/images/camp-images/2022/Intro_to_Roblox_Development.jpg");
    background-size: cover;
}
#courseCard::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: inherit;
    background-image: linear-gradient(to bottom,transparent,#161c2d);
    z-index: -1;
}